.home {
    background-color: greenyellow;
    position: absolute;
    height: 100%;
    width: 100%;

    .none {
        
        left: 50%;
        top: 50%;
    }
    .second {
        left: 23%!important;
        top: 50%!important;
    }
    .third {
        left: 83%!important;
        top: 5%!important;
        
    }
    .fourth {
        left: 72%!important;
        top: 27%!important;
        
    }
    .fifth {
        left: 6%!important;
        top: 99%!important;

    }
    button {
    }

}